# 마이크로서비스 URL 설정

# 개발 환경
# USER_SERVICE_URL=http://localhost:3001
# INSIGHT_SERVICE_URL=http://localhost:3002
# QUIZ_SERVICE_URL=http://localhost:3003
# CONVERSATION_SERVICE_URL=http://localhost:3004
# MEDIA_SERVICE_URL=http://localhost:3005

# 앱 개발 환경
USER_SERVICE_URL=http://10.0.2.2:3001
INSIGHT_SERVICE_URL=http://10.0.2.2:3002
QUIZ_SERVICE_URL=http://10.0.2.2:3003
CONVERSATION_SERVICE_URL=http://10.0.2.2:3004
MEDIA_SERVICE_URL=http://10.0.2.2:3005

# 프로덕션 환경
# USER_SERVICE_URL=https://api.yourapp.com/user
# INSIGHT_SERVICE_URL=https://api.yourapp.com/insight
# QUIZ_SERVICE_URL=https://api.yourapp.com/quiz
# CONVERSATION_SERVICE_URL=https://api.yourapp.com/conversation
# MEDIA_SERVICE_URL=https://api.yourapp.com/media
